
.teste {
    display: none;
}

.espacador {
    height: 69px;
}

/* PÁGINA INICIAL */

.pagina-inicial {
    /* display: none; */
    width: 1050px;

    margin: 0 auto;
}

.lista-vazia {
    display: flex; /* flex quando não tiver quizzes criados*/
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 180px;

    border: 1px dashed #D5D5D5;
    border-radius: 5px;

    margin: 86px 0 26px 0;
}

.lista-vazia > p {
    width: 250px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
}

.botao-criar-quizz {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 151px;
    height: 40px;

    border: 1px dashed #EC362D;
    border-radius: 50px;

    margin-top: 25px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;

    cursor: pointer;
}

.quizzes-container {
    margin-top: 50px;
}

.quizzes-container > div:first-child {
    display: flex;
}

.quizzes-container h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

    margin-bottom: 12px;
}

.btn-add-quizz {
    font-size: 25px;
    color: #ff0000;

    margin-left: 15px;

    cursor: pointer;
}

.pagina-inicial section:nth-child(2) {
    display: none;
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.quizz {
    position: relative;

    width: 340px;
    height: 180px;

    border-radius: 5px;
}

.quizz h3 {
    display: flex;

    width: 300px;
    position: absolute;
    bottom: 15px;

    margin: 0 20px;

    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    word-break: break-all;
    color: #ffffff;
}

img {
    width: 340px;
    height: 180px;

    object-fit: cover;
}

.gradiente {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0%) 0%, rgba(0, 0, 0, 0.5) 60%, #000000 100%)
}

/* ´PÁGINA DO QUIZZ */

.pagina-do-quizz {
    display: none;
}

.cabecalho-do-quizz {
    width: 100vw;
    height: 227px;

    position: relative;

}

.cabecalho-do-quizz img {
    width: 100%;
    height: 100%;
}

.camada-preta {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.6);
}

.titulo-do-quizz {
    width: 1000px;

    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;

    margin: auto;
}

.container-pergunta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;

    padding: 28px 36px;
    margin: 042px auto 0 auto;
    background-color: #ffffff;
}

.pergunta {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 688px;
    height: 138px;

    padding: 32px;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
}

.resposta {
    width: 330px;
    margin-top: 15px;
}

.resposta img {
    width: 330px;
    height: 175px;
}

.resposta h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    word-break: break-all;
    color: #000000;
    word-break: break-all;

    margin-top: 8px;
}

.opacidade {
    opacity: 0.3;
}

/* RESULTADO */

.resultado {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 760px;
    
    padding: 18px;
    margin: 44px auto 0 auto;

    background-color: #ffffff;
}

.cabecalho-resultado {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;

    padding: 22px;
    margin-bottom: 18px;

    background-color: #EC362D;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff
}

.img-resultado {
    width: 364px;
    height: 274px;
}

.descricao-resultado {
    width: 328px;

    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    word-break: break-all;
    color: #484848;
}

/* VERSÃO MOBILE */

@media (max-width: 1100px) {

    /* PÁGINA INICIAL */

    .pagina-inicial {
        width: 340px;
    }

    .quizzes-container > div:first-child {
        justify-content: space-between;
    }

    /* PÁGINA DO QUIZZ */

    .cabecalho-do-quizz {
        height: 142px;
    }

    .titulo-do-quizz {
        width: 310px;
    
        font-size: 19px;
        line-height: 22px;
    }

    .container-pergunta {
        width: 375px;
    
        padding: 18px;
    }

    .pergunta {    
        width: 340px;
        height: 90px;
    
        padding: 16px;
    
        font-size: 19px;
        line-height: 22px;
    }

    .resposta {
        width: 164px;
    }

    .resposta img {
        width: 164px;
        height: 114px;
    }

    .resposta h3 {
        font-size: 13px;
        line-height: 15px;
    }

    /* RESULTADO */

    .resultado {
        width: 375px;
        
        padding: 18px;
        margin: 24px auto 0 auto;
    }
    
    .cabecalho-resultado {
        padding: 22px 16px;
        margin-bottom: 10px;

        font-size: 19px;
        line-height: 22px;
    }
    
    .img-resultado {
        width: 340px;
        height: 255px;
    }
    
    .descricao-resultado {
        width: 340px;
    
        font-size: 17px;
        line-height: 20px;

        margin-top: 10px;
    }

}